h1 {
  color: pink;
}

h1, h2, h3, h4, h5, h6{
  font-style: oblique;
  font-family: "Comic Sans MS", "Papyrus";
  font-size: 70px;
}

img{
  height: auto;
  width: 400px;
  border-radius: 100px;
  border-color: yellow;
  border-width: 20px;
  border-style: ridge;
}

p{
  font-size: 30px;
  font-weight: 400;
  color: red;
  text-align: center;
}
